---

---

<div class="target-box">
  <slot />
</div>

<style>
  .target-box {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 106px;
    height: 106px;
    background-color: rgba(243, 243, 241, 0.3);
    border-style: dashed;
    border-width: 2px;
    border-color: var(--COD-Beige);
    border-radius: 10px;

    box-shadow: 0px -3px 4px 0px #88888840 inset;
  }
</style>
