---
import Layout from "../layouts/Layout.astro";

import Section from "../components/Section.astro";
import { sections } from "../data";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import FinalFrame from "../components/FinalFrame.astro";
import HorizontalText from "../components/HorizontalText.astro";
import ProgressNumber from "../components/ProgressNumber.astro";
---

<Layout>
  <Header step="pool">
    <ProgressNumber />
  </Header>
  <main style={{ maxWidth: "1440px", margin: "0 auto" }}>
    <Hero />
    <HorizontalText />
    {sections.map((section) => <Section {...section} />)}
    <FinalFrame />
  </main>
  <Footer />
</Layout>
