---

---

<section class="cta-section">
  <div class="cta-section__content">
    <h2 class="cta-section__title">Ready to start?</h2>
    <p class="cta-section__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
  </div>
</section>

<style>
  .cta-section {
    position: sticky;
    position: relative;
    overflow: hidden;
    top: 0;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 20px;
    margin-inline: 32px;
    background-color: var(--COD-Black);
    border-radius: 60px;
    height: calc(
      100vh - var(--heigth-header-desktop) - var(--heigth-footer-desktop)
    );
  }
</style>
