---
import { Image } from "astro:assets";
import Shield from "../images/logos/Shield.svg";
import Card from "../images/Card.png";
import ClashOfDev from "../images/logos/ClashOfDevHero.svg";
import Comment from "./Comment.astro";
---

<div class="hero">
  <div class="hero__content">
    <div class="hero__image-wrapper">
      <Image src={Shield} alt="" class="shield" />
    </div>
    <p class="hero__title">Que le plus fort, <em>l'emporte!</em></p>
  </div>
  <div class="hero__card">
    <Image src={ClashOfDev} alt="" class="hero__clash-of-dev" />
    <Image src={Card} alt="" class="hero__card-image" />
    <Comment
      author="maislina_"
      backgroundColor="#F28164"
      borderColor="#D46F55"
      arrowDirection="left"
      class="hero__comment_1"
    />
    <Comment
      author="sometimecrea"
      backgroundColor="#F588B9"
      borderColor="#D6699A"
      arrowDirection="right"
      class="hero__comment_2"
    />
    <Comment
      author="LLCoolChris"
      backgroundColor="#6B93C0"
      borderColor="#6B93C0"
      arrowDirection="left"
      class="hero__comment_3"
    />
  </div>
</div>

<style>
  .hero {
    width: 100%;
    min-height: 356px;
    padding: 0 32px;
    margin-top: 201px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero__content {
    min-height: 256px;
  }

  .hero__title {
    font-family: Inter;
    font-size: 115px;
    font-weight: 600;
    line-height: 123px;
    text-align: left;
  }

  .hero__image-wrapper {
    width: 176px;
    float: left;
    margin-top: 135px;
    shape-outside: content-box;
  }

  .hero__shield {
    margin-left: 22px;
  }

  .hero__card {
    position: relative;
    right: 40px;
  }

  .hero__clash-of-dev {
    position: absolute;
    top: 18px;
    right: -8px;
  }

  .hero__comment_1 {
    position: absolute;
    bottom: 130px;
    right: -40px;
  }

  .hero__comment_2 {
    position: absolute;
    bottom: 38px;
    left: -15px;
  }

  .hero__comment_3 {
    position: absolute;
    bottom: 7px;
    right: -34px;
  }

  @media (max-width: 768px) {
    .hero {
      padding: 0 12px;
      margin-top: 174px;
      flex-direction: column;
      gap: 40px;
    }

    .hero__title {
      font-size: 74px;
      font-weight: 600;
      line-height: 82px;
      text-align: left;
    }

    .hero__image-wrapper {
      width: 130px;
      float: right;
      margin-top: -3px;
    }

    .hero__card {
      right: 12px;
    }

    .hero__shield {
      transform: rotate(21.39deg);
    }
  }
</style>
