---
import Tag from "../images/logos/Tag.svg";
import { Image } from "astro:assets";
---

<div class="horizontal-text-wrapper">
  <div class="horizontal-text-container">
    <span class="horizontal-text"
      >&lt;A&gt;Front les tous! <Image
        src={Tag}
        alt=""
        class="horizontal-text__tag"
        width={80}
        height={80}
        style={{ transform: "translateY(-16px) rotate(20deg)" }}
      /> Clash of Dev <Image
        src={Tag}
        alt=""
        class="horizontal-text__tag"
        width={80}
        height={80}
        style={{ transform: "translateY(-16px) rotate(20deg)" }}
      />
      &lt;A&gt;Front les tous! <Image
        src={Tag}
        alt=""
        class="horizontal-text__tag"
      /> Clash of Dev</span
    >
  </div>
</div>

<style>
  .horizontal-text-wrapper {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 120px;
    margin-bottom: 80px;
    overflow: hidden;
    height: 200px;
  }

  .horizontal-text-container {
    display: flex;
    animation: scroll 20s cubic-bezier(0.65, 0, 0.35, 1) infinite;
  }

  .horizontal-text {
    font-family: Inter;
    font-size: 170px;
    font-weight: 600;
    line-height: 200px;
    text-align: left;
    white-space: nowrap;
    padding-right: 50px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(-125%);
    }

    100% {
      transform: translateX(0);
    }
  }

  @media (max-width: 768px) {
    .horizontal-text-wrapper {
      height: 100px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .horizontal-text {
      font-size: 74px;
      line-height: 82px;
    }

    .horizontal-text__tag {
      padding: 12px 0;
      width: 40px;
      height: 40px;
      position: relative;
      top: 8px;
    }
  }
</style>
