---
interface Props {
  step?: "pool" | "final";
}
const { step = "final" } = Astro.props;
---

<div class="logo">
  <span>{step === "pool" ? "LA PISCINE" : "LA FINALE"}</span>
</div>

<style>
  .logo {
    color: var(--primary);
    background-color: var(--secondary);
    transform: rotate(8deg);
    padding: 4px 12px;
    border-radius: 80px;
    text-wrap: nowrap;
    width: min-content;

    span {
      font-size: 12px;
      font-weight: 700;
      line-height: 14.52px;
      text-align: center;
    }
  }
</style>
