---

---

<div class="progress-number">0%</div>
<script>
  const progressElements = document.querySelectorAll(".progress-number");
  window.addEventListener("scroll", () => {
    const scrollTop = window.scrollY;
    const docHeight =
      document.documentElement.scrollHeight - window.innerHeight;
    const progress = Math.round((scrollTop / docHeight) * 100);
    progressElements.length > 0 &&
      progressElements.forEach((element) => {
        if (element instanceof HTMLElement) {
          element.textContent = `${progress}%`;
        }
      });
  });
</script>

<style>
  .progress-number {
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
  }
</style>
