---

---

<div class="progress">
  <div class="progress-bar"></div>
</div>

<style>
  .progress {
    width: 100%;
    height: 4px;
  }
  .progress-bar {
    width: 200px; /* TO UPDATE */
    height: 100%;
    background-color: var(--COD-Black);
  }
</style>
