---
import Layout from "../../layouts/Layout.astro";

import Header from "../../components/Header.astro";
import Game from "../../components/game/Game.astro";
---

<Layout>
  <Header>
    <span class="play__countdown">3, 2, 1 FIGHT !</span>
  </Header>
  <div class="play__background-image">
    <div class="play__background-color">
      <main
        style={{ maxWidth: "1440px", minHeight: "100vh", margin: "0 auto" }}
      >
        <Game />
      </main>
    </div>
  </div>
</Layout>

<style>
  .play__countdown {
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: var(--COD-Beige);
  }

  .play__background-image {
    background-image: url("../../images/background.png");
    background-size: cover;
    background-position: center;
  }
  .play__background-color {
    background-color: rgba(38, 38, 37, 0.8);
  }
</style>
