---
import "../styles/modern-normalize.css";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
---

<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    />
    <title>Clash of Dev</title>
    <meta name="description" content="<A>Front les tous!" />
  </head>
  <body>
    <slot />
  </body>
</html>

<script>
  // Function to check and set the theme
  function setTheme() {
    const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");

    const currentTheme = localStorage.getItem("theme");

    if (
      currentTheme === "dark" ||
      (!currentTheme && prefersDarkScheme.matches)
    ) {
      document.documentElement.setAttribute("data-theme", "dark");
    } else {
      document.documentElement.setAttribute("data-theme", "light");
    }
  }

  // Set the theme on initial load
  setTheme();

  // Listen for changes in color scheme preference
  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", setTheme);
</script>

<style is:global>
  body {
    font-family: "Inter", sans-serif;
    color: var(--secondary);
    background-color: var(--primary);
    transition:
      color 0.3s ease-in-out,
      background-color 0.3s ease-in-out;
  }
  * {
    margin: 0;
  }
  :root {
    --COD-Black: #262625;
    --COD-Beige: #f3f3f1;
    --COD-White: #fefefe;
    --COD-Grey: #9b9b9b;

    --COD-COLOR-Purple-Light: #ebedff;
    --COD-COLOR-Purple-Mid: #9fa8fe;
    --COD-COLOR-Purple-Dark: #8a92e3;

    --COD-COLOR-Orange-Light: #ffbcab;
    --COD-COLOR-Orange-Mid: #f28164;
    --COD-COLOR-Orange-Dark: #d46f55;

    --COD-COLOR-Green-Light: #ecffce;
    --COD-COLOR-Green-Mid: #a2b87e;

    --height-header-desktop: 87px;
    --height-header-mobile: 107px;
    --height-footer-desktop: 87px;
    --height-footer-mobile: 107px;
  }

  [data-theme="light"] {
    --primary: #f3f3f1;
    --secondary: #262625;
  }

  [data-theme="dark"] {
    --primary: #262625;
    --secondary: #f3f3f1;
  }
</style>
